*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto,Helvetica Neue,Arial;
    color: white;
}

html,body{
    height: 100%;
}

.menu{
    width: 100%;
    height: 90px;
    background-color: #181818;
}

.menu .logo{
    float: left;
    padding: 10px 40px;
}

.menu ul{
    float: left;
    padding: 35px 20px;
    
}

.menu ul li{
    margin-left: 15px;
    display: inline-block;
    list-style: none;
    font-size: 1rem;
}

.menu ul li a{
    text-decoration: none;
}

.menu .menu-right{
    float: right;
}

.menu .menu-right ul{
    margin-right: 20px;
}

section .huracan{
    width: 100%;
    height: 500px;
    background-image: url(../_img/huracan.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section .urus{
    width: 100%;
    height: 500px;
    background-image: url(../_img/urus.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section .aventador{
    width: 100%;
    height: 500px;
    background-image: url(../_img/aventador.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section .huracan h1{
    padding: 120px 20px;
    font-size: 120px;
}

section .urus h1{
    font-size: 120px;
    float: right;
    margin-right: 120px;
    padding: 120px 20px;

}

section .aventador h1{
    font-size: 120px;
    padding: 170px 20px;
}

footer{
    width: 100%;
    height: 200px;
    background-color: #181818;
}

footer #lista li{
    display: inline-block;
    margin: 10px;
}

footer #lista{
    padding: 40px 30px;
}

footer p{
    width: 650px;
    padding: 0 35px;
}

footer .links{
    float: right;
    margin-right: 50px;
    margin-top: 48px;
}

footer .links > i{
    margin: 10px;
}

.alert{
    width: 100%;
    background-color: black;
}

.alert p{
    padding: 0 150px;
    font-size: 12px;
    width: 100%;
    background-color: black;
}

